*{
    padding: 0px;
    margin:0px;
}
body{
    background-color: rgba(45,64,89,91);
    }
    /* features */
.features p{
    padding: 10px;
    margin-top: -29px;
    margin-left: 8px;
}
.lastborn{
    margin-left:50px;
}
.tick{
    border-radius: 100px;
    color: #fff;
    background-color: #3fb52f;
    border: none;
    width: 20px;
    padding: 0.2em;
    margin-left:-18px ;


}
.heart{
    font-size: 59px;
    color:#fff;
    display: inline-block;
    background-color:rgb(122, 164,70);
    border-radius: 50%;
    margin-left: 90px;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-left: 15px;
    width: 50px;
    height:50px;
}
.logo1{
    border-radius: 80px;
    width: 50px;
    margin-bottom: -100px;
    margin-left: -20px;
}
.logo2{
    background-color: #3fb52f;
    color: #fff;
    border-radius: 70px;
    width: 30%;
    margin-left: 90px;
    margin-top: 30px;
}

/* showcase box */
#showcase{
    margin-left: 120px;
    margin-top: -50px;
}
#showcase .box1 ,.box2,.box3{
    margin-top: 80px;
    float: left;
    width: 20%;
    height: 100%;
    margin-left: 100px;
}
#showcase .box1{
    background-color: #fff;
}

#showcase .box2{
    color: #fff;
    background-color:#124dcefe;
}
#showcase .box3{
    background-color: #fff;
}
#showcase .num{
    text-align: center;
    font-size: 30px;
    color: #3fb52f;

}
#showcase .num-1{
    color: #fff;
    text-align: center;
    font-size: 30px;
    
}

#showcase .head{
    font-size: 20px;
    font-style: bold;
    letter-spacing: 1.5px;
    text-align: center;
    padding-top: 20px;
}
#showcase .text{
    text-align: center;
    margin: 10px;
    margin-bottom: 30px;

}
#showcase .features{
    margin: 20px;
}
#showcase .link{
    text-decoration: none;
    padding-left: 90px;
}
/* button */
.btn{
    text-decoration: none;
    background-color: #3fb52f;
    border-radius: 2px;
    padding: 10px 50px;
    margin-left: 40px;
    margin-top: 90px;
    letter-spacing: 1px;
    text-align: center;
    color :#fff;

}
.btn:hover{
    color:#3fb52f;
    background-color: #fff;
}