 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* main style */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}
.container{
    padding: 0px 20px;
    margin: auto;
    max-width: 1100px;
}
/* utility classes */
.text-primary{
    color: #ecd370;
    
}
.lead{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, 
    Geneva, Verdana, sans-serif;
}
.btn{
    background-color: #0a0513;

    display: inline-block;
    padding: 10px 20px ;
    border: none;
    cursor: pointer;
    color: #f4f4f1;
    font-size: 18px;
    margin-bottom: 20px;
}
.btn:hover{
    color: #fff;
    background-color: #ecd370;

}
.btn-light{
    background: #f5ebe2;
    color:#333;
}
.bg-dark{
    background: #0a0513;
    color: #fff;
}
.bg-light{
    background: #f4f4f4;
    color:#0a0513
}
.bg-primary{
    background: #ecd370;
    color: #fff;

}
.clr{
    clear:both; 
}
.l-heading{
    font-size: 42px;
}
/* padding */
.py-1{padding: 10px 0;}
.py-2{padding: 20px 0;}
.py-3{padding: 30px 0;}
/* Navbar */

a{
    text-decoration: none;
}
h1, h2 ,h3 {
    padding-bottom:20px;
}
p{
    margin: 10px 0;
}
#navbar{
    background-color: #0a0513;
    color: #fff;
    overflow: auto;
    max-width: 1500px;
}
#navbar a{
    color: #fff;
}
#navbar h1{
    float: left;
    padding-top: 20px;
}
#navbar ul{
    list-style: none;
    float:right;

}
#navbar ul li{
    float:left;
    
}
#navbar ul li a{
    display: block; 
     padding: 20px;
     text-decoration: none;
}
#navbar ul li a:hover{
    background: #444;
    color: #f7c08a;
}
#navbar ul li a:hover,
 #navbar ul li  a.current{
    background: #444;
    color: #f7c08a;


}

/* showcase */
#showcase{
    background: url('../IMAGES/hoteldoor.jpg') no-repeat 
    center center/cover;
    height: 600px;

}
#showcase .showcase-content{
    color: #fff;
     text-align: center;
     padding-top: 200px;
}
#showcase .showcase-content h1{
    font-size: 60px;
    font-family: sans-serif;
    line-height: 1.2cm;
}
#showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.7em;
    letter-spacing: 2px;
}


/* home-info */
#home-info{
    height: 400px;

}
#home-info .info-img{
    float: left;
    width: 50%;
    background: url('../IMAGES/pic.jpg'  ) no-repeat left/cover;
    min-height: 100%;
} 
#home-info .info-content{
    float: right;
    height: 100%;
    width: 50%;
    text-align: center;
    padding:50px 30px ;
    overflow: hidden;
}
#home-info .info-content p{
    padding-bottom: 30px;
}
/* features */
.box{
    text-align: center;
    /* float: left; */
    padding: 50px;
    width: 33.33%;
}
.box i{
    margin-bottom: 10px;
}
#features{
    display: flex;
    
}
/* About info */
#about-info .info-right{
    float: right;
    width: 50%;
    min-height: 100%;
}
#about-info .info-right img{
    width: 70%;
    display: block;
    margin: auto;
    border-radius: 50%;
}
#about-info .info-left{
    float: left;
    width: 50%;
    min-height: 100%;
    line-height: 2.em;

}
/* testimonials */
#testimonials{
    height: 600px;
    background: url(../IMAGES/hoteldoor.jpg) no-repeat
    center center/cover;
    padding-top: 100px;
}
#testimonials h2{
    color: #fff;
    text-align: center;
    padding-bottom:40px ;
}
#testimonials .testimonial{
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    opacity: 0.8;
}

#testimonials .testimonial img{
    width: 100px;
    border-radius: 30%;
    float: left;
    margin-right: 30px;
}
/* contact form */
#contact-form .formgroup{
    margin-bottom: 30px
}
#contact-form .formgroup input,label{
    display: block;
    margin-bottom: 5px;
}
#contact-form input,#contact-form textarea{
    width: 100%;
    padding: 10px;
    border: 1px#ddd solid;
}
#contact-form textarea{
    height: 200px;
}

#contact-form input:focus
,#contact-form textarea:focus{
    outline: none;
    border-color: #8f9cc1;
}
#contact-info .container{
    display: flex;
}

/* footer */
#main-footer {
    text-align: center;
    background-color:#0a0513f7;
    color: #fff;
    padding: 20px;
}